---
- name: Configure raspi apt mirror
  ansible.builtin.template:
    src: "raspi.{{ _apt_sources_type }}"
    dest: "/etc/apt/sources.list.d/raspi.{{ _apt_sources_type }}"
    owner: "root"
    group: "root"
    mode: "u=rw,g=r,o=r"
  vars:
    _apt_sources_type: >-
      {{
        "list"
        if ansible_facts.distribution_major_version | int > 0
        and (
          ansible_facts.distribution == "Debian"
          and ansible_facts.distribution_major_version is version("12", "<=")
        )
        else
        "sources"
      }}
  register: _apt_mirror

- name: Refresh apt cache when mirror changes
  ansible.builtin.apt:
    update_cache: true
  when: _apt_mirror is changed

- name: Remove sudo config files
  ansible.builtin.file:
    path: "/etc/sudoers.d/{{ item }}"
    state: "absent"
  loop: "{{ raspberrypi_os_sudo_config_files }}"
  when: raspberrypi_os_remove_sudo_config | bool

- name: Create journald drop-in directory
  ansible.builtin.file:
    path: "/etc/systemd/journald.conf.d/"
    owner: "root"
    group: "root"
    mode: "u=rwx,g=rx,o=rx"
    state: "directory"

- name: Configure journald storage
  ansible.builtin.template:
    src: "raspi-config-journal-storage.conf"
    dest: "/etc/systemd/journald.conf.d/80-raspi-config-journal-storage.conf"
    owner: "root"
    group: "root"
    mode: "u=rw,g=r,o=r"
  notify: flush journald

# Purging packages needs to be last as NetworkManager will be removed
# which might cause the raspberry pi to drop its current DHCP lease
- name: Purge extra apt packages
  ansible.builtin.apt:
    pkg: "{{ raspberrypi_os_packages_remove }}"
    autoremove: true
    purge: true
    state: "absent"
