# {{ ansible_managed }}

[Unit]
Description="Check for Raspberry Pi EEPROM updates timer"

[Timer]
Unit=rpi-eeprom-update.service
OnCalendar={{ raspberrypi_update_eeprom_time }}
{% if raspberrypi_update_eeprom_randomized_delay != "" %}
RandomizedDelaySec={{ raspberrypi_update_eeprom_randomized_delay }}
{% endif %}
Persistent=true

[Install]
WantedBy=timers.target
